[defaults]
roles_path={{ ansible_asg_homedir }}/roles
inventory_path={{ ansible_asg_homedir }}/inventory
remote_user={{ aws_remote_user }} 
private_key_file={{ ansible_asg_homedir }}/.ssh/id_rsa
pipelining = true
log_file={{ ansible_asg_logdir }}/ansible.log
